{% extends 'base.html.twig' %}

{% block title %}Edit Zona{% endblock %}

{% block body %}
    <h1>Edit Zona</h1>

    {{ include('zona/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_zona_index') }}">back to list</a>

    {{ include('zona/_delete_form.html.twig') }}
{% endblock %}
